<div class="page-wrapper">
  <!-- SECTION ACCUEIL / HERO -->
  <div class="accueil">
    <app-header></app-header>
    <!-- <div class="hero-text container">
      <a href="#articles" class="cta-button">Voir nos articles</a>
    </div> -->
  </div>

  <!-- SECTION ARTICLES -->
  <div class="body pt-5" id="articles">
<div class="container">
  <h1 class="section-title">Nos Articles</h1>
  <div class="row" *ngIf="data && data?.length > 0">
    <div 
      class="col-12 col-sm-6 col-lg-4 mb-4" 
      *ngFor="let product of data"
    >
      <div class="product">
        <div class="product-image">
          <a (click)="readsingleProducts(product.pr_uid, product.type, product.name)">
            <img [src]="product?.image_file[0]" alt="Image produit">
          </a>
        </div>
        <h2>{{ product.name }}</h2>
        <p>ID : {{ product.pr_uid }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <a class="order-btn mt-3" (click)="openOrderModal(product)">
          Commander sur WhatsApp
          </a>
          <span class="price pt-3">{{ product.price }} FCFA</span>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>

  <!-- FOOTER -->
  <footer class="site-footer">
    <div class="footer-content">
      <p>📧 Contactez-nous : <a href="mailto:fullshopmondial@gmail.com">fullshopmondial@gmail.com</a></p>
      <p>&copy; 2026 Full Shop. Tous droits réservés.</p>
    </div>
  </footer>
</div>