/* GLOBAL */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* HEADER */
.accueil {
  height: 62px;
  background-color: #eee;
}

/* PAGE */
.product-page {
  padding: 30px 15px;
}

/* DÉTAIL PRODUIT */
.product-detail {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.product-image img {
  border-radius: 10px;
  max-height: 300px;
  max-width: 300px;
  object-fit: cover;
}

.product-info h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.product-info p {
  margin-bottom: 8px;
  color: #555;
}

/* BOUTON */
.order-btn {
  display: inline-block;
  background-color: #ffa726;
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.order-btn:hover {
  background-color: #ca851e;
}

.order-btn.small {
  padding: 6px 15px;
  font-size: 14px;
}

/* SERVICES */
.services {
  margin-top: 40px;
}

.service-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* PRODUITS SIMILAIRES */
.similar-products {
  max-width: 1500px;
  margin: 50px auto;
  padding: 0 15px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.product-card img {
  width: 90%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card .price {
  margin: 10px 0;
  font-weight: bold;
  color: #ffa726;
}
