<div class="accueil">
  <app-header></app-header>
</div>

<div class="container product-page" *ngIf="product">

  <!-- 🔹 DÉTAIL PRODUIT -->
  <div class="row product-detail">

    <!-- IMAGE -->
    <div class="col-lg-5 col-md-6 col-sm-12 product-image mb-4">

  <!-- Image principale -->
  <img
    class="img-fluid imgread main-image"
    [src]="selectedImage"
    [alt]="product.image_file"
  />

  <!-- Miniatures -->
  <div class="image-thumbnails mt-3 d-flex">
    <img
      *ngFor="let img of product.image_file"
      [src]="img"
      class="thumbnail"
      (click)="changeImage(img)"
    />
  </div>

</div><br>

    <!-- INFOS -->
    <div class="col-lg-7 col-md-6 col-sm-12 product-info">
      <h2>{{ product.name }}</h2>

      <p><strong>Prix :</strong> {{ product.price }} FCFA</p>
      <p><strong>Référence :</strong> {{ product.pr_uid }}</p>
      <p><strong>Description :</strong> {{ product.description }}</p>
      <p><strong>Modele :</strong> {{ product.model }}</p>
      <p><strong>style :</strong> {{ product.style }}</p>
      <p><strong>Pointure :</strong>{{ product.pointure }}</p>
      <p><strong>Stock :</strong> {{ product.inventory_level }}</p>
      <p><strong>Type :</strong> {{ product.type }}</p>
      <p><strong>Couleur :</strong> {{ product.color }}</p>
      <p><strong>Matière :</strong> {{ product.material }}</p>
      <a
        class="order-btn mt-3"
        href="https://wa.me/2250777861623?text=
        Bonjour%20je%20suis%20intéressé%20par%20ce%20produit%0A
        Nom:%20{{product.name}}%0A
        Ref:%20{{product.pr_uid}}%0A
        Couleur:%20{{product.color}}%0A
        Prix:%20{{product.price}}%20FCFA%0A
        Image:%20{{product.image_file}}"

        target="_blank"
      >
        Commander sur WhatsApp
      </a>
    </div>
  </div>

  <!-- 🔹 LIVRAISON & SERVICES -->
  <div class="row services mt-3">
    <div class="col-md-4 service-box p-3 mb-2">
      <h4>Livraison</h4>
      <p class="m-0">Abidjan dès 1 500 FCFA</p>
      <p class="m-0">Partout en Côte d'Ivoire</p>
    </div>

    <div class="col-md-4 service-box p-1 mb-2">
      <h4>Paiement</h4>
      <p class="m-0">Espèces ou Mobile Money à la livraison</p>
    </div>

    <div class="col-md-4 service-box p-1 mb-2">
      <h4>Retour</h4>
      <p class="m-0">Retours gratuits sous 3 jours</p>
    </div>
  </div>

</div>

<!-- 🔹 PRODUITS COLOR SIMILAIRES -->
<div class="similar-products" *ngIf="data_color?.length">

  <h3 class="text-center mb-4">Autres couleur</h3>

  <div class="products-grid">
    <div class="product-card" *ngFor="let product of data_color">
      <h4>{{ product.name }}</h4>

      <a (click)="readsingleProducts(product.pr_uid, product.type, product.name)">
        <img [src]="product.image_file" alt="{{ product.name }}" />
      </a>

      <p class="price">{{ product.price }} FCFA</p>

      <a
        class="order-btn mt-3"
        href="https://wa.me/2250777861623?text=
        Bonjour%20je%20suis%20intéressé%20par%20ce%20produit%0A
        Nom:%20{{product.name}}%0A
        Ref:%20{{product.pr_uid}}%0A
        Couleur:%20{{product.color}}%0A
        Prix:%20{{product.price}}%20FCFA%0A
        Image:%20{{product.image_file}}"

        target="_blank"
      >
        Commander
      </a>
    </div>
  </div>

</div>

<!-- 🔹 PRODUITS SIMILAIRES -->
<div class="similar-products" *ngIf="data?.length">

  <h3 class="text-center mb-4">Produits similaires</h3>

  <div class="products-grid">
    <div class="product-card" *ngFor="let product of data">
      <h4>{{ product.name }}</h4>

      <a (click)="readsingleProducts(product.pr_uid, product.type, product.name)">
        <img [src]="product.image_file" alt="{{ product.name }}" />
      </a>

      <p class="price">{{ product.price }} FCFA</p>

      <a
        class="order-btn small"
        href="https://web.whatsapp.com/send?phone=+2250702653594&text=Bonjour%20je%20suis%20intéressé%20par%20ce%20produit%20Nom:%20{{product.name}},%20Ref:%20{{product.pr_uid}},%20Couleur:%20{{product.color}},%20Prix:%20{{product.price}}%20fcfa"
        target="_blank"
      >
        Commander
      </a>
    </div>
  </div>

</div>
