<div class="accueil">
  <app-header></app-header><br><br>
</div>
<div class="body pt-3">
  <div class="container">
  <h1>Nos Articles</h1><br><br>
  <div class="products">
    <div class="product">
      <h2>Nom de l'article 1</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 2</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 1</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 2</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 1</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 2</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 1</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 2</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 1</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 2</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 1</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 2</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 1</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 2</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 1</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 2</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 1</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 2</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 1</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
    <div class="product">
      <h2>Nom de l'article 2</h2>
      <img src="../assets/img_products/image1.jpeg" alt="fdff">
      <p>Id article :</p>
      <div class="d-flex justify-content-between">
        <a class="order-btn" href="https://web.whatsapp.com/send?phone=+2250709767193&text=Bonjour je suis intéressé par un vos articles%20!" target="_blank">Commander</a>
        <span class="mt-2">Prix</span>
      </div>
    </div>
  </div>
  </div>
</div>
