.accueil{
  height: 57px;
  background-color: rgb(238, 238, 238) !important;
  // border: 1px solid red;
  // background-image: url("/assets/img_products/home5.jpg" );
  background-repeat: no-repeat;
  background-size: cover;
}
/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
}

.content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-links a {
  margin: 0 10px;
}

form {
  // text-align: center;
}

input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}
label{
  text-align: left;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.75rem + 2px);
}
