.accueil{
  height: 57px;
  background-color: rgb(238, 238, 238) !important;
  // border: 1px solid red;
  // background-image: url("/assets/img_products/home5.jpg" );
  background-repeat: no-repeat;
  background-size: cover;
}
