.navbar{
  background-color: white!important;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
}

.dropdown-item{
  cursor: pointer;
}

.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;

  --bs-dropdown-link-hover-color: #5ff0ac;
  --bs-dropdown-link-hover-bg: #aceccc;
  --bs-dropdown-link-active-bg: #1ca565;
  --bs-dropdown-header-color: #5ff0ac;

}

.navbar {
  background-color: transparent; /* Navbar transparente par défaut */
  transition: background-color 0.3s ease; /* Transition fluide */
}

.bg-white {
  background-color: rgb(230 230 230) !important;
}
.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgb(230 230 230) !important;
}
/* Style pour l'input transparent */
.transparent-input {
  background-color: transparent; /* Fond transparent */
  border: solid 0px; /* Supprimer la bordure */
  color: rgb(0, 0, 0); /* Couleur du texte */
  transition: background-color 0.3s ease; /* Transition fluide */
}
.btn-outline-success {
  --bs-btn-color: #000000;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #1eb2a6;
  --bs-btn-hover-bg: #189187;
  --bs-btn-hover-border-color:#1eb2a6;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1eb2a6;
  --bs-btn-active-border-color: #1eb2a6;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1eb2a6;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1eb2a6;
  --bs-gradient: none;
}
.active-link {
  border-bottom: 2px solid green; /* Bordure inférieure verte */
  padding-bottom: 5px; /* Espacement pour la bordure inférieure */
}
