<nav style="padding-left: 10px;" [class.bg-white]="isNavbarWhite" class="navbar navbar-expand-lg navbar-light  fixed-top bg-whit bg-whi">
  <div class="container">
    <a class="navbar-brand" routerLink="/user/home">Habillement2Manque</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div style="margin-left: 20px;" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" (click)="setActiveLink(0)" [ngClass]="{ 'active-link': activeLinkIndex === 0 }">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" >
            Nos produits
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item" (click)="setActiveLink(1)" [ngClass]="{ 'active-link': activeLinkIndex === 1 }">
          <a class="nav-link" routerLink="/user/suivez-nous">Suivez-Nous</a>
        </li>
        <li class="nav-item" (click)="setActiveLink(2)" [ngClass]="{ 'active-link': activeLinkIndex === 2 }">
          <a class="nav-link" routerLink="/user/contact">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 transparent-input" type="search" placeholder="Saisir la recherche ici..." aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
