<!-- <div class="accueil">
  <app-header></app-header><br><br>
</div>
<div class="body pt-3">
  <div class="container">
  <h1>Contact</h1><br><br>
  <div class="products">
    <section class="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Nous Contacter</h2>
          <p>Vous avez des questions ou des commentaires ? N'hésitez pas à nous contacter en utilisant le formulaire ci-dessous.</p>
          <form (submit)="submitForm()">
            <div class="form-group">
              <label for="fullName">Nom complet</label>
              <input type="text" class="form-control" id="fullName" name="fullName" [(ngModel)]="contact.fullName" required>
            </div>
            <div class="form-group">
              <label for="email">Adresse e-mail</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="contact.email" required>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" name="message" [(ngModel)]="contact.message" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
        </div>
        <div class="col-lg-6">
          <h2>Informations de Contact</h2>
          <p>Vous pouvez également nous contacter par téléphone ou visiter notre adresse physique :</p>
          <ul class="contact-info">
            <li><strong>Téléphone :</strong> +1234567890</li>
            <li><strong>Adresse :</strong> 123 Rue de l'Exemple, Ville, Pays</li>
          </ul>
        </div>
      </div>
    </div>
    </section>
  </div>
  </div>
</div> -->
