<div class="body">
  <div class="container">
    <div class="button-container">
        <button routerLink="/admin/create-products" >Create products</button>
        <button routerLink="/admin/view-all-products" >View all products</button>
    </div>
  </div>

</div>
<body>
  <div class="container">
      <h1 class="title">Concours d'Habillement</h1>
      <p class="content">
          Participez et montrez votre style ! <br>
          <span class="date">Date : 15 Juillet 2024</span> <br>
          Lieu : Centre Culturel de la Mode, Paris
      </p>
  </div>
</body>
